#index h2 {
    font-family: 'Satisfy', cursive;
    font-size: 100px;
    line-height: 2;
    letter-spacing: 15px;
    color: 
    #000000;

}
#index .content{
    margin-top: 150px;
    margin-left: 100px;
}

.content p{
    font-family: 'Merriweather', serif;
    color: #fffaf0;
    font-size: 30px;
    font-weight: bold;
}

.btn a{
    background-color: #009cd3;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Shippori Mincho', serif;
    width: 185px;
    display: block;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin-top: 20px;                            
    border-radius: 5px;
    border: 3px solid #009cd3;

}
.btn a:hover{
    background-color: #ffffff;
    color: #009cd3;
}
#index footer{
    width: 960px;
    text-align: left;
    margin: 150px auto 0 auto;
}
#index{
    background-image: url(../imges/IMG_7403.JPG);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}





  



